{% extends "layouts/base.njk" %}
{% set docsTocEntries = page | docsTocEntries %}
{% set hasDocsTocEntries = (docsTocEntries | length) > 1 %}
{% set postTitle = post.articleTitle or articleTitle or title %}
{% set postIntro = post.articleIntro or articleIntro %}
{% set postEyebrow = post.articleEyebrow or articleEyebrow %}

{% block content %}
{% include "components/ArticleScrollProgress.njk" %}
{% include "components/ArticleHeader.njk" %}
{% include "components/ArticleShell.njk" %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include "components/ArticleScripts.njk" %}
{% endblock %}
