<button
  class="back-to-top-button"
  type="button"
  aria-label="Back to top"
  data-back-to-top
  hidden
>
  <span aria-hidden="true">&uarr;</span>
</button>
<script src="{{ "/assets/js/back-to-top-button.js" | url }}" defer></script>
