{% set printLabel = "打印页面" if lang == "zh-Hans" else "Print" %}
{% set printAriaLabel = "打印此页面" if lang == "zh-Hans" else "Print this page" %}
<div class="print-page-control" data-print-page-control>
  <button
    class="print-page-button"
    type="button"
    data-print-page-button
    aria-label="{{ printAriaLabel }}"
    disabled
  >
    <span>{{ printLabel }}</span>
  </button>
</div>
<script src="{{ "/assets/js/print-page-button.js" | url }}" data-print-page-script></script>
